altair
appdirs
argon2-cffi
asgiref
astor
astroid
async-generator
attrs
autopep8
backcall
base58
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
chardet
click
colorama
ConfigArgParse
coursera-dl
decorator
defusedxml
Django
entrypoints
gitdb
GitPython
idna
imbalanced-learn
imblearn
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keyring
lazy-object-proxy
MarkupSafe
mccabe
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pep8
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
pyarrow
pyasn1
pycodestyle
pycparser
pydeck
Pygments
pylint
pyparsing
pyrsistent
python-dateutil
python-speech-features
pytz
pypiwin32
pyzmq
requests
rope
scikit-learn
scipy
selenium
Send2Trash
six
smmap
soupsieve
sqlparse
streamlit
terminado
testpath
threadpoolctl
toml
toolz
tornado
traitlets
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
whitenoise
widgetsnbextension
wrapt
zipp
